<!-- pages/questions/questions.component.html -->
<app-header></app-header>

<div class="min-h-screen bg-gray-100">
  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <!-- Bannière en haut de la page -->
      <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg mb-6">
        <div class="px-4 py-5 sm:px-6">
          <h1 class="text-3xl font-bold text-gray-900">Questions</h1>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            Trouvez et posez des questions à la communauté locale
          </p>
        </div>
      </div>
      <app-question-list></app-question-list>
    </div>
  </main>
</div>

<app-footer></app-footer>
